ul{
    list-style-type: none;    /*清除小方块*/
    /* 移除浏览器的默认设置将边距和填充设置为0 */
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
a{
    display: block;
    width: 60px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}
a:link,a:visited
{
    background-color:yellowgreen;
    text-align: center;
    text-decoration: none;
    color:white;
    padding: 10px;
    font-weight: 200;

}
a:hover,a:active 
{
    background-color:black;
}
a.active{
    background-color: darkgreen;
    color: white;
}