@charset "utf-8";
/* CSS Document */
table 
{
    border-collapse:collapse;

}
table,th, td
{
    border: 1px solid #F8F8F8 ;
}
td
{
    text-align: center;
}
.tabletop
{
    background-color: #e9faff;
}
.tabletop td
{
    color: #255e95;
} 
.tableleft
{
    background-color: #E8E8E8 ;
}

.font1 
{
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
}